#conteiner-geral{
    background: #e5e5e5;
}
#container{
    height: 50vh;
    max-width: 500px;
    align-content: center;
    align-items: center;
    display: grid;
}
label,h1{
    color: #1d1d1d;
}
@media (min-width: 780px ) and (max-width: 1000px){
    #footer{
        height: 50vh;
    }

}
