body{

    background-image: url("/images/bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#home-login{
    padding: 5px;
}
label{
    color: #1b1e21;
}
a{
    text-decoration: none;
    color: white;
}
@media (max-width: 900px) {
    #home-login{
        position: relative;
    }
    #text-login{
        width: 50%;
    }

}

